<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Little-endian Pi day</title>
    </head>
    <body>
        <div id="main">
            <h1>Little-endian Pi Day!</h1>
            <p>
                <a href="http://www.piday.org">Pi day</a> is celebrated around the world on March 14th - or 3/14 in the <a href="https://en.wikipedia.org/wiki/Endianness#Middle-endian">middle-endian</a> date format common in the United States (and, of course <a href="https://en.wikipedia.org/wiki/Date_format_by_country">Belize</a>).
            </p>
            <p>
                Most people in the world use the <a href="https://en.wikipedia.org/wiki/Endianness">little-endian</a> date format - and for them Pi day is <h2 id="when"></h2>
            </p>
            <div id="timer"></div>
        </div>
    </body>
</html>
